body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 95px;
}
/* font --- */

.text{
 
  text-align: center;
  font-size: 25px;
}
.main{
  margin: -45px 0px 25px -15px;
}

.cercales{
    justify-content: center;
    margin-bottom: 30px;
    
}
.cercale-1{
   position: absolute;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-left: 350px;
    text-align: center;
    border: 8px solid #fef734;
}
.lekha{
    margin-top: 28px;
}
.cercale-2{
   
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-left: 585px;
    text-align: center;
    border: 8px solid #fef734;
}
.write{
    margin-top: 30px;
}
.cercale-3{
   
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-left: -30px;
    text-align: center;
    border: 8px solid #fef734;
}
.pora{
    margin-top: 0px;
}
.pora-2{
    margin: -20px;
}
.cercale-2ta{
    display: flex;
    margin-top: 100px;
}

/* FOOTER  */
.footer h4{
  padding: 13px;
}


.footer{
 
  height: 40px;
  width: 300px;
  background-color: #fef734;
  border-radius: 6px;
  color: rgb(0, 0, 0);
  margin-top: 60px;
  margin-left: 580px;
  text-align: center;
}


